.grid-container{
    display: flex;
    justify-content: center;
    border: 10px solid black;
    align-items: center;
}

.grid-item {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    background-color: aquamarine;
}

.grid-item-1{
background-color: aquamarine;
}

