
body{
    background-image: url('../images/587966.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height:200vh;
    width: 100%;
}




nav ul{

    display:flex;
    justify-content:flex-end;
    list-style-type: none;
    
}

nav ul li{
  
    padding-right: 0.5rem;
    padding-top: 2rem;
  
    

}

nav ul li a{

    color: white;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    margin-right: 5rem;

   

}

nav ul li a:hover{
    font-size: 1.3rem;
    color:azure;
    
}



.oslomet_logo{
    position: absolute;
    top: -0.5rem;           /* Adjust vertical position */
    left: 0.8rem;          /* Adjust horizontal position */
    z-index: 10;         /* Ensure the logo is above other elements */
    text-shadow: 0.190rem 0.180rem 0.350rem #ffd60a;
    color: black;
    font-size:2rem;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:30px auto 0 90px;
    padding-top: 0.2rem;   
    
    
}

.oslomet_logo:hover {
   
    text-shadow: 0.19rem 0.18rem 0.35rem #fff; /* text-shadow but taking the white shadow when hovering*/
    font-size: 2rem; /* Prevent size change like other links */
}

.fakultet{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-shadow: 0.170rem 0.180rem 0.350rem #000000;
}

.fakultet p {
    font-size: 1.3rem;
    font-weight: 200;
    text-decoration: none;
    
}




